body {
  background:#8e7a47 url('img/tk08_bodybg_top-986x160.jpg') repeat-x top center;
  margin:0px; 
  /*font-family: Tahoma, Arial, sans-serif;*/
  font-family: verdana, arial, helvetica;
  color:#3B1B0E;
}

.relative {position:relative;}
.normal { font-size:90%;}

a {color:#593101;} /* this color should match the color set in zlink */
/* .mpControls, .ui-state-default a */
a:visited { color:#492101; }
a:hover {color:#c4fbde;}
p { padding:0.2em 0.5em; text-indent:0.5em;}

a img {
  border:none;
}

ul li {
  list-style:none;
}

.marginTop5 {
  margin-top:5px;
}

.block { display:block; }

.ui-button-text { padding:3px 5px; }
h2.ui-widget-header { font-size:1.1em; }

.minimalMode .searchResultsNewProduct	{
  overflow:hidden; margin:0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.topRound   {
  padding:0 8px; line-height:28px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px; 
}

.ztitle {
  margin-top:8px; 
  height:28px; 
  font-weight: bold; 
  color: #c9bda5; 
  font-size: 11pt;
  background:url('img/tk08_h_plhead_bg-254x16.jpg') repeat-x bottom;
}

.zcolor { background-color: #7eb784; color: #ffffff; }
.zcolor_dark {background-color:#9b6b32; color: #ffffff;}
.zcolor_contrast { background-color: #EE5E02; color: #ffffff; }
.zcolor_light { background-color: #EDF2FD; color: #515151; }

/************** Wrapper layout **************/

#header {
  z-index:1; 
  position:relative; 
  height:186px; 
  width:976px; 
  margin:0 auto;
}

#header #customCarvingLink {
  display:block;
  position:absolute;
  top:1px;
  left:0px;
}

#header #carvingEmporiumLink {
  position:absolute; 
  top:1px; 
  right:0px;
}

#header #headerLogo {
  z-index:10;
  position:absolute;
  top:0px;
  left:120px;
}

#header #headerLogoBG {
  z-index:2;
  position:absolute;
  top:3px;
  left:126px;
}

#header #cartTotal {
  z-index:20;
  position:absolute;
  top:18px;
  right:148px;
  width:40px;
  font-size:14px;
  text-align:right;
  font-weight:bold;
  color:#3b1b0e;
}

#header #cartTotal div {
  margin-bottom: 4px;
}

#header #homepageLink {
  display:block;
  z-index:20;
  position:absolute;
  top:0px;
  left:250px;
  width:440px;
  height:136px;
}

#header #livechat {
  z-index:50;
  position:absolute;
  top:75px;
  left:146px;
}

#header #headerNav {
  z-index:15;
  position:absolute;
  top:132px;
  left:1px;
}

#header #cartLink {
  display:block;
  z-index:20;
  position:absolute;
  top:82px;
  right:145px;
}

#bannerBottom {
  display:block;
  margin:0 auto;
  cursor:pointer;
}

#footer {
  background: url('img/tk08_bodybg_bottom-968x261.png') repeat-x center top;
}

#footerNav {
  width:976px;
  position:relative;
  margin:0 auto;
  cursor:pointer;
}

#footerNavLeft {
  float:left;
  margin-top:35px;
}

#footerNavRight {
  float:right;
  margin-top:20px;
  background:url('img/tk10_vignette_bg-217x153.png') no-repeat;
  height:153px;
  width:217px;
}

#footer .spacer {
  clear:both;
  padding-top:5px;
}

#footer #copyright {
  float:left;
  text-align:left;
  font-weight:bold;
}

#footer .zsmall {
  width:680px;
  color: #000000; 
  font-size: 7pt;
}

#footer2 {
  background:url('img/tk08_bodybg_bottom-968x261.png') repeat-x center top; 
  padding-top:35px; 
  margin:0 auto;
  text-align:center;
}


/* used for 'savings and discounts' section of wrapper */
.wrapPromoBox {
  width:976px;
  position:relative;
  margin:0 auto 15px auto;
  background:#f7c14e;
  padding:8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px; 
}

.ztxt { color: #000000; font-size: 9pt; }
td.ztxt { padding:0 20px 0 0px; }

#footerSubscribeBar input.text {
  width:175px;
  font-size:12px;
}

#footerSubscribeBar input.submit {
  border:0;
  background:#491e0b;
  color:#ffffff;
  padding:2px 5px;
  font-weight:bold;
  cursor:pointer;
}

#mobileLink {
  border-left:1px solid #c38a2f;
}

#mobileLink div {
  padding:20px;
}

#socialLinks {
  border-left:1px solid #c38a2f;
  text-align:center;
  padding:5px 8px 0 20px;
}

#socialLinksContent {
  padding-top:15px; margin:0 auto;
}

.topRound {
  padding:0 8px; line-height:28px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px; 
} 

 /**************** Navigation layout - breadcrumb *********************/

.round2px {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /*border:1px solid #4F493C;*/
}

/*#breadcrumb_onhover .zlink {padding:3px 9px 3px 4px; margin-right:2px; text-decoration:none; font-weight:bold; background-color:#e9dbb9; color:#f1592a; }
#breadcrumb_onhover .hasSubcats {background:url('img/tm11_downarrow_orange-8x3.gif') no-repeat center right #e9dbb9; }
#breadcrumb_onhover .zlink:hover {color:#593101;}*/

.searchAndBreadcrumb {
  position:relative;
  height:26px;
  width:976px;
  margin:0 auto;
}

.searchAndBreadcrumb .productSearchForm {
  margin:0 0.5em 0 0;
  padding:0;
  float:right;
}

.searchAndBreadcrumb  .productSearchKeyword {
  display:inline-block;
  margin:0;
  padding:0;
  font-size:9pt;
  border: 1px solid #492E04;
  background-color: #FAEDCD;
  font-size: 8pt;
  height:18px;
}

.searchAndBreadcrumb .productSearchForm button {
  display:inline-block;
  width:96px; height:26px;
  background:url('img/tk08_btn_search-96x22.gif') left top no-repeat;
  border:0;
  padding:3px;
}

.breadcrumb {
  float:left;
  position:relative;
  margin:-37px 0 0 2px;
}

.breadcrumb > li {
  margin:2px 1px;
  padding:0;
  background: #E9DBB9;
  cursor: pointer;
  color: #F1592A;
  padding: 0px 4px 2px 0;
  font-weight: bold;
  font-size:9pt;
}

.breadcrumb > li.hasSubcats {
  background: url('img/tm11_downarrow_orange-8x3.gif') no-repeat center right #E9DBB9;
  padding: 0px 12px 2px 0;
}

.breadcrumb > li a {
  padding-left:4px;
  color: #F1592A;
}

.breadcrumb > li a:hover {
  color: #E9DBB9;
}

.breadcrumb > li:hover {
  color: #E9DBB9;
  background: #593101;
  /*color:#F8F7F6;
  background:#654B24;*/
}

/*.breadcrumb > li:after	{content:"\2192"; padding-left:4px; font-size:10pt; font-weight:bold; color:#E9DBB9;}
.breadcrumb > li:last-child:after	{content:"";}*/
.breadcrumb > li:after	{content:""; padding-left:0px; font-size:10pt; font-weight:bold; color:#E9DBB9;}
/*.breadcrumb > li:last-child a	{background: #E9DBB9; color: #795121; text-decoration:none; font-weight:bold; cursor:text;}
.breadcrumb > li:last-child a:hover { color:#997141;}*/

.breadcrumb ul.dropdown {
  position:absolute;
  cursor: pointer;
  font-weight: bold;
  font-size:8pt;
  width:150px;
  z-index:300;
  margin:2px 0 0 0;
  padding:0;
}

.breadcrumb ul.dropdown li {
  color: #593101;
  float:none;
  display:block;
  text-align:left;
  background:#E0A523;
  padding:3px 4px;
  margin:0 0 2px 0;
}

.breadcrumb ul.dropdown li:hover {
  color: #E9DBB9;
  background: #593101;
}
  /**************** END Navigation layout - breadcrumb *********************/

/************** Wrapper layout END **************/


/************** Main content layout ************/

#bg1 {
  background:url('img/tk08_bodybg_left-493x552.gif') left top no-repeat;
  overflow:hidden;
}

#bg2 {
  background:url('img/tk08_bodybg_right-493x552.gif') right top no-repeat;
  overflow:hidden;
}

#appPreView {
  background:#E9DBB9;
  border:2px solid #623b25;
  margin:1em auto;
}

#appPreView #loader {
  font-size:70%;
  color:#623b25;
  text-align:center;
  padding:0.8em;
}

#mainContentArea { 
  width:976px; margin:0 auto; padding:0.3em 0 0 0;
}

.decoratorHoriz {
  background:url(img/tk08_h_plhead_bg-254x16.jpg) repeat-x; height:16px;
}

#mainCenter { position: relative; width:512px; padding:0; margin:0 0 0 5px; overflow: hidden; float:left; }
#slideshowNav { position: absolute; top: 31px; right: 15px; z-index: 100;}
#wideSlideshow { padding: 0px; margin: 0px;}
#slideshowNav a {
  margin: 0 0 0 5px; font-size:11px; color:#491e0b;
  font-weight:bold;
  -webkit-box-shadow: 2px 2px 2px 2px , 50);
  -moz-box-shadow: 2px 2px 2px 2px , 50);
  box-shadow: 2px 2px 2px 2px , 50); 

  text-decoration: none;
  display:inline-block;
  padding: 3px;
  border: 2px solid #8e7a47;
  background: #dbd4c4;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  filter: alpha(opacity=80);
  opacity:0.8;
}

#slideshowNav a:hover, #slideshowNav a.cycle-pager-active, #slideshowNav a.activeSlide { color: #FFFFFF; background:#491e0b; border-color:#491e0b; }
#slideshowNav a:focus { outline: none; }

#dealOfTheWeek {
  background:#faf3e0; margin-top:5px;
}

#leftNav {
  color: #000000; 
  font-size: 9pt;
  position:relative;
  width:150px;
  float:left;
  margin:0;
}

#leftNav ul {
  margin:0;
  padding:0;
}

#leftNav ul li {
  background: #E9DBB9;
  color: #593101;
  padding: 3px 4px;
  margin-bottom: 2px;
  font-weight: bold;
}

#leftNav ul li:hover {
  color: #E9DBB9;
  background: #593101;
  /*color:#F8F7F6;
  background:#654B24;*/
}

#leftNav img.catLink {
  border:5px solid #9B6B32;
}

#leftNav ul.dropdown {
  position:absolute;
  left:155px;
  width:150px;
  margin-top:-19px;
  z-index:300;
}

#leftNav ul.dropdown li {
  background:#E0A523;
}

#leftNav ul.dropdown li:hover {
  color: #E9DBB9;
  background: #593101;
}

#mainRight1 {
  position:relative;
  float:left;
  width:149px;
  background: #E9DBB9 url('img/tk08_h_head_new-149x65.gif') no-repeat 0px -5px;
  margin-left:5px;
  padding:65px 0 0 0;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
}

#mainRight1 .newProductList li {
  margin:0;
  height:185px;
}

#mainRight1 .searchResultsNewProduct .description, .productList .description {
  color: #434544; font-size: 7pt; padding:3px; display:block;
}

#mainRight2 {
  position:relative;
  float:left;
  width:136px;
  height:500px;
  margin-left:5px;
}

#mainRight2 .infoBlock {
  background:#FCF8EF;
  width:100%;
  margin:0 0 5px 0;
  padding:4px;
  filter:alpha(opacity=85);
  -moz-opacity:.85;
  opacity:.85;
}

#mainRight2 .infoBlock p {
  color: #333534; 
  font-size: 7pt;
  padding:0;
}

.prodBlockContent {
  position:relative;
  height:247px;
  clear:both;
  margin-bottom:12px;
}

.prodBlockContent ul {
  padding:0;
  margin:0;
}
.prodBlockContent li:first-child {
  margin-left:6px;
}

.prodBlockContent li {
  width:236px;
  height:236px;
  border:1px solid #4F493C;
  float:left;
  margin:4px 2px;
  background:#F9F4D9;
}

.prodBlockContent li p {
  border-top:1px solid #4F493C;
  color: #434544; font-size: 7pt; padding:3px;
}

  /************* Category page layout *****************/

.catHeader {
  position:relative;
  background:url('img/tk08_c_headerbg_orange-965x118.jpg');
  /*width:965px; height:118px;*/
  height:85px; width:755px;
  padding:33px 0 0 210px;
  margin:7px auto;
}

.catHeader h2 {
  color:White;
  font-size:18px;
  text-indent:0;
  margin-left:20px;
  padding-right:1em;
  height:52px;
}

.catHeader ul {
  color:#434544;
  margin:17px 0 0 0;
  padding:0;
  overflow:hidden; height:13px; font-size:10px;
}

.catHeader ul li:first-child {
  list-style:none;
}

.catHeader ul li {
  list-style:disc;
  float:left;
  margin-left:20px;
}

.categoryList li {
  width:229px;
  height:194px;
  border:1px solid #4F493C;
  margin:6px;
  padding:0;
}

/* when displaying list of subcategories with images,
we set different backgrounds for cat blocks
an + b - a - size of loop, b - offset
*/
.categoryList li:nth-child(8n+0) { background:#AA27A9; }
.categoryList li:nth-child(8n+1) { background:#3B9200; }
.categoryList li:nth-child(8n+2) { background:#674C0B; }
.categoryList li:nth-child(8n+3) { background:#283DB0; }
.categoryList li:nth-child(8n+4) { background:mediumSeaGreen; }
.categoryList li:nth-child(8n+5) { background:#B47E0C; }
.categoryList li:nth-child(8n+6) { background:#2D62B5; }
.categoryList li:nth-child(8n+7) { background:#A4C200; }

.categoryList li .thumbContainer { width:229px; height:171px; }

.categoryList li .catName {
  border-top:1px solid #4F493C;
  font-size:13px;
  color:White;
  font-weight:Bold;
  padding:2px 0 0 5px;
}


  /************* END Category page layout *****************/

  /************* Category with products page layout *****************/
  
.productList > li {
  width:312px;
  height:316px;
  border:1px solid #4F493C;
  margin:4px;
  padding:0;
  background:#F9F4D9;
}

.productList > li h5 {
  background:#7EB784;
  color:white;
  font-size:8pt;
  padding:3px;
}

.productList > li h6 {
  color:#B47E0C;
  font-size:9pt;
  padding:0 4px;
  float:right;
}

button.quickView {
  color:#593101;
  font-size:9pt;
  padding:4px;
  font-weight:bold;
  background:#F9F4D9;
  border:1px dotted #4F493C;
  /*position:absolute;
  top:20px;
  right:13px;*/
}

button.quickView:hover {
  color:#F9F4D9;
  font-size:9pt;
  padding:4px;
  font-weight:bold;
  background:#593101;
  border:1px dotted #4F493C;
}

  /************* END Category with products page layout *****************/
  
  /************* Product page layout *****************/

.productPage {
  margin:7px 0;
}

.prodBigImage {
  border:1px solid #4F493C;
}

.productPage .prodThumbs img {
  border:1px solid #4F493C;
}

.imageViewerSoloImage {
  border:1px solid #4F493C;
}


.prodSummaryContainer {
  background:#F9F4D9;
  filter: alpha(opacity=85);
  -moz-opacity: .85;
  opacity: .85;
  padding: 10px 15px;  
}

.prodSummaryContainer h1 {
  font-size: 18px;
  color: #3B1B0E;
  margin: 5px 0px 6px 0px;
}

.prodSummaryContainer .basePrice {
  font-weight: bold;
  color: #3B1B0E;
  font-size: 14px;
  margin-bottom:8px;
}

.prodSummaryContainer .stid {
  color: #5E4119;
  font-size: 12px;
  font-weight:normal;
}

.prodSummaryContainer .addToCartButton {
  background:url('img/tk08b_add_to_cart.gif');
  width:131px;
  height:31px;
  border:none;
  margin:0 0;
  padding:0;
}

.prodSummaryContainer .latency, .notAvailableForPurchase {
  color: Black;
  font-size: 14px;
  margin-bottom:6px;
}

.prodSummaryContainer .CRMButtonMenu {
  font-size: 12px;
}

.prodSummaryContainer .CRMButtonMenu a:hover {
  color: #7E6139;
}

.prodSummaryContainer .prodDesc {
  color: #5E4119;
  font-size: 12px;
  height:270px;
  overflow-y:auto;
}

.prodSummaryContainer .variation {
  color:#5E4119;
  font-size: 11px;
}

.prodSummaryContainer .variation .label_radio {
  display:inline-block;
  margin:6px 0;
  font-weight: bold;
}

.prodSummaryContainer .variation_radio .labelsAsBreaks label {
  display:block;
  margin:0 0 2px 0;
}

.productPage .prodlistRelatedContainer {
  margin-top:20px;
  border-top:1px dotted #4F493C;
}

.productPage .prodlistRelatedContainer h2 {
  font-size: 12pt;
  color: #3B1B0E;
  margin:7px;
}
  
  /************* END Product page layout *****************/
  
  /************* companyTemplate layout ******************/
#mainContentArea_company { margin:7px 0; font-size:90%; }
#mainContentArea_company p { margin:3px; }
#mainContentArea_company a { text-decoration:underline; }
#mainContentArea_company a:hover { color: #7E6139; }

#mainContentArea_company .sideline, #mainContentArea_company .mainColumn {
  background:#F9F4D9;
  filter: alpha(opacity=85);
  -moz-opacity: .85;
  opacity: .85;
  padding: 10px;
  border:1px solid #4F493C;
}

#mainContentArea_company .mainColumn { min-height:344px; }


  /************* END companyTemplate layout **************/
  

/************** Main content layout END ************/